# requirements.txt (đề xuất)
torch==2.3.1
torchaudio==2.3.1
tqdm==4.66.5
numpy==2.0.2
whisperx @ git+https://github.com/m-bain/whisperX.git
ffmpeg-python==0.2.0
soundfile==0.12.1
huggingface_hub==0.25.1
psutil==6.0.0
